{% extends "base.html" %}

{% block title %}{{titulo}}{% endblock %} 
{% block contenido %}
	
<div class="row">
  <div class="col-md-6 col-md-offset-3 ">
  <div class="page-header">
  <h1>Consulta de deuda </h1>
</div>
	<form action="/biblioteca/buscar/" method="get" >
  	<div class="input-group">
      <input name="rq" type="text" class="form-control"  placeholder="Ingrese su Codigo de Usuario">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" type="button">Consultar</button>
      </span>
    </div><!-- /input-group -->
<div class="page-header"> </div>
    <div class="row">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Deuda</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>EDM666</td>
          <td>Eder Donayre Macedo</td>
          <td>S/. 15.40</td>
        </tr>
      </tbody>
    </table>
    </div>



  </div>
</div>
</form>
      

{% endblock %}

