{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %} 
{% block contenido %}
<div class="container">
<div class="page-header">
{% if query %}
  <h1>Resultado para <small>{{ query|escape }}</small></h1>
  {% else %}
<h1>No hay resultados</h1>
  {% endif %}
</div>
	<div class="row">
		<div class="col-md-8">
		{% if resultado %}
		{% for result in resultado %}
			<div class="media">
		  <a class="media-left" href="/biblioteca/detalle/{{result.slug}}">
		    <img src="{{result.portada.url_125x150}}" alt="..." class="img-thumbnail">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="/biblioteca/detalle/{{result.slug}}">{{result.titulo}}</a></h4>
		   <b>{{result.subtitulo}}</b><br>
		   {{result.descripcion|escape|linebreaks}}
		  </div>
		</div>	
		{% endfor %}
		{% endif %}
		</div>
		<div class="col-md-4"></div>
	</div>
</div>


{% endblock %}