{% extends "base.html" %}
{% block title %}{{object.titulo}}{% endblock %} 
{% block contenido %}
<div class="container">
<div class="page-header">

  <h1>{{object.titulo}} <small>{{ object.subtitulo }}</small></h1>

</div>
	
	<div class="row">
  <div class="col-md-4"><img src="{{object.portada.url_250x300}}" alt="..." class="img-rounded" id="zoom_05" data-zoom-image="large/image1.jpg"></div>
  <div class="col-md-8">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Descripción</div>
  <div class="panel-body">
    <p>{{ object.descripcion|escape|linebreaks }}</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><b>Autor: </b>{{ object.autor }}</li>
    <li class="list-group-item"><b>Editorial: </b>{{object.editorial}}</li>
    <li class="list-group-item"><b>Materia: </b>{{object.materia}}</li>
    <li class="list-group-item"><b>Idioma: </b>{{object.idioma}}</li>
    <li class="list-group-item"><b>Etiquetas: </b>
    {% for eti in object.etiqueta.all %}
    <span class="label label-primary">{{eti}}</span>
    {% endfor %}

    </li>
    <li class="list-group-item"><button type="button" class="btn btn-success">Solicitar Ejemplar</button></li>
  </ul>
</div>


  </div>
	</div>
</div>

<script type="text/javascript">
	
	$("#zoom_05").elevateZoom({ zoomType	: "inner", cursor: "crosshair" }); - See more at: http://www.elevateweb.co.uk/image-zoom/examples#sthash.MBhx83ya.dpuf
</script>

{% endblock %}